:root {
  --bs-body-font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container {
  width: 100%; /* Ширина контейнера равна 100% ширины страницы */
  max-width: 1200px; /* Максимальная ширина контейнера, чтобы он не растягивался слишком сильно на широких экранах */
  margin: 0 auto; /* Центрируем контейнер на странице */
  padding: 20px; /* Добавляем небольшие отступы вокруг контента */
  box-sizing: border-box; /* Учитываем padding в ширине контейнера */
}

.header-container {
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.loading-indicator {
  color: rgb(165, 40, 56);
  text-align: center;
}

.page-title {
  text-align: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  width: 200px; /* Ширина карточки */
  height: 200px; /* Высота карточки */
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  position: relative;
  flex-basis: calc(20% - 16px);
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 16px;
  color: rgb(100, 100, 150);
  margin-bottom: 0;
}

.card-brand {
  margin-top: 5px;
  color: rgb(165, 40, 56);
  font-weight: 700;
}

.card-price {
  color: rgb(165, 40, 56);
  position: absolute;
  bottom: 0;
}

.card-id {
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  color: rgb(176, 176, 176);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  border: none;
  background-color: #fff;
  color: #333;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 20px;
}

.pagination button.active,
.pagination button.ellipsis:hover {
  background-color: #fff; /* Сохраняем фон без изменений */
}

.pagination button.active {
  background-color: #007bff; /* Цвет активной кнопки */
  color: #fff; /* Цвет текста для активной кнопки */
}

.pagination button:not(.active):hover:not(:disabled):not(.ellipsis) {
  background-color: #f0f0f0; /* Цвет фона при наведении для обычных кнопок */
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  padding: 10px 15px;
}

.pagination span.ellipsis {
  background-color: transparent;
  border: none;
}
