:root {
  --bs-body-font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box; /* Учитываем padding в ширине контейнера */
}

.header-container {
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.loading-indicator {
  color: rgb(165, 40, 56);
  text-align: center;
}

.page-title {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 50px;
  margin-bottom: 30px;
}

.card {
  min-height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-sizing: border-box;
  padding: 10px;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-header {
}

.card-footer {
  margin-top: 10px;
}

.card-title {
  font-size: 16px;
  color: rgb(68, 68, 194);
  margin-bottom: 0;
}

.card-brand {
  color: rgb(165, 40, 56);
  font-weight: 700;
}

.card-price {
  color: rgb(165, 40, 56);
}

.card-id {
  font-size: 12px;
  color: rgb(176, 176, 176);
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.pagination button {
  border: none;
  background-color: #fff;
  color: #333;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
}

.pagination button.active {
  background-color: rgb(68, 68, 194); /* Цвет активной кнопки */
  color: #fff; /* Цвет текста для активной кнопки */
}

.pagination button:not(.active):not(.ellipsis):hover {
  background-color: #f0f0f0; /* Цвет фона при наведении для обычных кнопок */
}

.pagination button.ellipsis:hover,
.pagination button.active:hover {
  cursor: default;
}

.pagination span {
  padding: 10px 15px;
}
